html {
	position: relative;
	min-height: 100%;
}

body, div {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: linear-gradient(to bottom, lightgreen, aqua);
	background-color: lightgreen;
	margin: 0 0 110px;
}

header, #container {
  text-align: center;
  margin: 0 auto;
  float: none;
}

h1 {
	color: darkslategray;
	font-family: 'Permanent Marker', cursive, sans-serif;
	font-size: 64px;
	margin-bottom: 5px;
}

h2 {
	font-size: 28px;
	color: gray;
	margin-top: 0;
	font-family: "Dosis", "Arial", sans-serif;
}

button {
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	margin: 8px;
	border-radius: 10px;
	background: linear-gradient(to bottom, white, gray);
}

button:hover {
	background: linear-gradient(to bottom, gray, black);
	color: white;
	transform: scale(1.1);
}

#container {
  height: auto;
  overflow: auto;
  width: 1000px;
  height: 1000px;
  font-size: 0;
  text-align: center;
}

.box {
  width: 20px;
  height: 20px;
  background-color: white;
  opacity: 1;
  display: inline-block;
  float: top;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

footer {
	background-color: lightseagreen;
	height: 60px;
	float: bottom;
	display: table;
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

footer li{
	display: table-cell;
	padding: 0px 10px;
	margin: 0 auto;
	width: 600px;
	font-size: 18px;
	text-align: center;
}

a:link {
	color: darkgreen;
}

a:visited {
	color: lightgreen;
}

